{% extends "index.html" %}


{% block content %}


        <!-- page-title -->
        <section class="page-title centred">
            <div class="bg-layer" style="background-image: url(../assets/images/background/page-title-6.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">
                    <span>Our Blog</span>
                    <h1>Blog Grid</h1>
                </div>
            </div>
        </section>
        <!-- page-title end -->


        <!-- news-section -->
        <section class="news-section blog-grid pt_120 pb_120">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                        <div class="news-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box"><a href="{% url 'bd' %}"><img src="../assets/images/news/news-1.jpg" alt=""></a></figure>
                                <div class="lower-content">
                                    <ul class="post-info mb_15">
                                        <li><a href="{% url 'bd' %}">Travel Blog</a></li>
                                        <li><i class="icon-19"></i>29 Mar, 2023</li>
                                    </ul>
                                    <h3><a href="{% url 'bd' %}">10 European ski destinations you should visit this winter</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                        <div class="news-block-one wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box"><a href="{% url 'bd' %}"><img src="../assets/images/news/news-2.jpg" alt=""></a></figure>
                                <div class="lower-content">
                                    <ul class="post-info mb_15">
                                        <li><a href="{% url 'bd' %}">Covid Travel</a></li>
                                        <li><i class="icon-19"></i>28 Mar, 2023</li>
                                    </ul>
                                    <h3><a href="{% url 'bd' %}">Booking travel during Corona: Find who are giving service</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                        <div class="news-block-one wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box"><a href="{% url 'bd' %}"><img src="../assets/images/news/news-3.jpg" alt=""></a></figure>
                                <div class="lower-content">
                                    <ul class="post-info mb_15">
                                        <li><a href="{% url 'bd' %}">Europe</a></li>
                                        <li><i class="icon-19"></i>27 Mar, 2023</li>
                                    </ul>
                                    <h3><a href="{% url 'bd' %}">Change your place and get the fresh air from the nature</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                        <div class="news-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box"><a href="{% url 'bd' %}"><img src="../assets/images/news/news-4.jpg" alt=""></a></figure>
                                <div class="lower-content">
                                    <ul class="post-info mb_15">
                                        <li><a href="{% url 'bd' %}">Travel Blog</a></li>
                                        <li><i class="icon-19"></i>26 Mar, 2023</li>
                                    </ul>
                                    <h3><a href="{% url 'bd' %}">Solo sleeping pods aim to revolution European train travel</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                        <div class="news-block-one wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box"><a href="{% url 'bd' %}"><img src="../assets/images/news/news-5.jpg" alt=""></a></figure>
                                <div class="lower-content">
                                    <ul class="post-info mb_15">
                                        <li><a href="{% url 'bd' %}">Covid Travel</a></li>
                                        <li><i class="icon-19"></i>25 Mar, 2023</li>
                                    </ul>
                                    <h3><a href="{% url 'bd' %}">Popular Tokyo district urges tourists to stay away on Halloween</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                        <div class="news-block-one wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box"><a href="{% url 'bd' %}"><img src="../assets/images/news/news-6.jpg" alt=""></a></figure>
                                <div class="lower-content">
                                    <ul class="post-info mb_15">
                                        <li><a href="{% url 'bd' %}">Europe</a></li>
                                        <li><i class="icon-19"></i>24 Mar, 2023</li>
                                    </ul>
                                    <h3><a href="{% url 'bd' %}">Fat Bear Week is happening, and the online voting is now open</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                        <div class="news-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box"><a href="{% url 'bd' %}"><img src="../assets/images/news/news-7.jpg" alt=""></a></figure>
                                <div class="lower-content">
                                    <ul class="post-info mb_15">
                                        <li><a href="{% url 'bd' %}">Travel Blog</a></li>
                                        <li><i class="icon-19"></i>23 Mar, 2023</li>
                                    </ul>
                                    <h3><a href="{% url 'bd' %}">Disney sued over severe injuries allegedly caused by wedgie</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                        <div class="news-block-one wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box"><a href="{% url 'bd' %}"><img src="../assets/images/news/news-8.jpg" alt=""></a></figure>
                                <div class="lower-content">
                                    <ul class="post-info mb_15">
                                        <li><a href="{% url 'bd' %}">Covid Travel</a></li>
                                        <li><i class="icon-19"></i>22 Mar, 2023</li>
                                    </ul>
                                    <h3><a href="{% url 'bd' %}">Discovering India's treasures beyond the World Cup 2023</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                        <div class="news-block-one wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box"><a href="{% url 'bd' %}"><img src="../assets/images/news/news-9.jpg" alt=""></a></figure>
                                <div class="lower-content">
                                    <ul class="post-info mb_15">
                                        <li><a href="{% url 'bd' %}">Europe</a></li>
                                        <li><i class="icon-19"></i>21 Mar, 2023</li>
                                    </ul>
                                    <h3><a href="{% url 'bd' %}">From floating markets to forests: Asia’s 5 must-experience boat rides</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                        <div class="news-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box"><a href="{% url 'bd' %}"><img src="../assets/images/news/news-10.jpg" alt=""></a></figure>
                                <div class="lower-content">
                                    <ul class="post-info mb_15">
                                        <li><a href="{% url 'bd' %}">Travel Blog</a></li>
                                        <li><i class="icon-19"></i>20 Mar, 2023</li>
                                    </ul>
                                    <h3><a href="{% url 'bd' %}">From Mallorca to Bhutan: Making tourism sustainable</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                        <div class="news-block-one wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box"><a href="{% url 'bd' %}"><img src="../assets/images/news/news-11.jpg" alt=""></a></figure>
                                <div class="lower-content">
                                    <ul class="post-info mb_15">
                                        <li><a href="{% url 'bd' %}">Covid Travel</a></li>
                                        <li><i class="icon-19"></i>19 Mar, 2023</li>
                                    </ul>
                                    <h3><a href="{% url 'bd' %}">7 movies that make you want to pack your bags and travel</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                        <div class="news-block-one wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box"><a href="{% url 'bd' %}"><img src="../assets/images/news/news-12.jpg" alt=""></a></figure>
                                <div class="lower-content">
                                    <ul class="post-info mb_15">
                                        <li><a href="{% url 'bd' %}">Europe</a></li>
                                        <li><i class="icon-19"></i>18 Mar, 2023</li>
                                    </ul>
                                    <h3><a href="{% url 'bd' %}">Exploring Bangladesh's rich history: Eliza Binte Elahi</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination-wrapper centred pt_20">
                    <ul class="pagination">
                        <li><a href="{% url 'blog' %}"><i class="fas fa-angle-left"></i></a></li>
                        <li><a href="{% url 'blog' %}" class="current">1</a></li>
                        <li><a href="{% url 'blog' %}">2</a></li>
                        <li><a href="{% url 'blog' %}">3</a></li>
                        <li><a href="{% url 'blog' %}"><i class="fas fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- news-section end -->

{% endblock %}