{% extends "index.html" %}


{% block content %}



        <!-- page-title -->
        <section class="page-title centred">
            <div class="bg-layer" style="background-image: url(../assets/images/background/page-title-2.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">
                    <span>Top Places</span>
                    <h1>Destinations</h1>
                </div>
            </div>
        </section>
        <!-- page-title end -->


        <!-- place-section -->
        <section class="place-section centred pt_100 pb_70">
            <div class="pattern-layer">
                <div class="pattern-1" style="background-image: url(../assets/images/shape/shape-26.png);"></div>
                <div class="pattern-2" style="background-image: url(../assets/images/shape/shape-15.png);"></div>
            </div>
            <div class="auto-container">
                <div class="sec-title mb_50">
                    <span class="sub-title">Top Places</span>
                    <h2>Top Visited Places</h2>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 place-block">
                        <div class="place-block-one">
                            <div class="inner-box">
                                <figure class="image-box"><img src="../assets/images/resource/place-1.jpg" alt=""></figure>
                                <span class="text">China</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 place-block">
                        <div class="place-block-one">
                            <div class="inner-box">
                                <figure class="image-box"><img src="../assets/images/resource/place-2.jpg" alt=""></figure>
                                <span class="text">Italy</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 place-block">
                        <div class="place-block-one">
                            <div class="inner-box">
                                <figure class="image-box"><img src="../assets/images/resource/place-3.jpg" alt=""></figure>
                                <span class="text">India</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 place-block">
                        <div class="place-block-one">
                            <div class="inner-box">
                                <figure class="image-box"><img src="../assets/images/resource/place-4.jpg" alt=""></figure>
                                <span class="text">Egypt</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 place-block">
                        <div class="place-block-one">
                            <div class="inner-box">
                                <figure class="image-box"><img src="../assets/images/resource/place-5.jpg" alt=""></figure>
                                <span class="text">New York</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 place-block">
                        <div class="place-block-one">
                            <div class="inner-box">
                                <figure class="image-box"><img src="../assets/images/resource/place-6.jpg" alt=""></figure>
                                <span class="text">Maldives</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- place-section end -->
{% endblock %}