{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'destination.css' %}">
        <title>Document</title>
    </head>
    <body>
        <div class="box1">
            <div class="image-container1">
                <img src="image.jpg" alt="Logo">
              </div>
            <div class="button-container">
              <button>destinations</button>
              <button>Projects</button>
              <button>Travel Types</button>
              <button>About Us</button>
              <button-login>Log In</button-login>
              <button class="last-button">Register</button>
            </div>
          </div>

        <div class="image-container2">
            <img src="image.jpg" alt="Map">
          </div>

        <div class="box2">
            <button>Africa</button>
            <button>Asia</button>
            <button>Europe</button>
            <button>North America</button>
            <button>Oceania</button>
            <button>South America</button>
          </div>

        <div class="box3">
            <p>United Kingdom</p>
        </div>

        <div class="widget-container">
            <div class="box-widget"></div>
            <div class="box-widget"></div>
            <div class="box-widget"></div>
            <div class="box-widget"></div>
        </div>

        <div class="box3">
            <p>United States</p>
        </div>

        <div class="widget-container">
            <div class="box-widget"></div>
            <div class="box-widget"></div>
            <div class="box-widget"></div>
            <div class="box-widget"></div>
        </div>

        <div class="footer">
            <div class="box4">
                <img src="logo.png" alt="Logo">
            </div>
            <div class="box5">
                <p1>Contact</p1>
                <p2>Email</p2>
                <p2>Tel (UK):123456</p2>
                <p2>Tel (US):123456</p2>
                <p2>Tel (CN):123456</p2>
            </div>
            <div class="box6">
                <p>Follow Us</p>
                <div class="button-container">
                    <img src="button1.png" alt="Pic 1">
                    <img src="button2.png" alt="Pic 2">
                    <img src="button3.png" alt="Pic 3">
                    <img src="button4.png" alt="Pic 4">
                </div>
            </div>
        </div>
    </body>
</html>