{% extends "index.html" %}


{% block content %}


        <!-- page-title -->
        <section class="page-title centred">
            <div class="bg-layer" style="background-image: url(../assets/images/background/page-title-5.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">
                    <span>Question Asked</span>
                    <h1>Frequently Asked Questions</h1>
                </div>
            </div>
        </section>
        <!-- page-title end -->


        <!-- faq-section -->
        <section class="faq-section pt_120 pb_110">
            <div class="auto-container">
                <div class="sec-title mb_50 centred">
                    <span class="sub-title">General Faqs</span>
                    <h2>Frequently Asked Questions</h2>
                </div>
                <div class="inner-box">
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-12 col-sm-12 accordion-column">
                            <ul class="accordion-box">
                                <li class="accordion block active-block">
                                    <div class="acc-btn active">
                                        <div class="icon-box"></div>
                                        <h5>Who will arrange your transfer to Srinagar Houseboat?</h5>
                                    </div>
                                    <div class="acc-content current">
                                        <div class="text">
                                            <p>No, the tour buses do not travel between cities. However, on board you will be able to book excursions to different places of interest in and around the city. Ask our onboard staff for more information.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="accordion block">
                                    <div class="acc-btn">
                                        <div class="icon-box"></div>
                                        <h5>Additional entry fees other than specified?</h5>
                                    </div>
                                    <div class="acc-content">
                                        <div class="text">
                                            <p>No, the tour buses do not travel between cities. However, on board you will be able to book excursions to different places of interest in and around the city. Ask our onboard staff for more information.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="accordion block">
                                    <div class="acc-btn">
                                        <div class="icon-box"></div>
                                        <h5>Is there a City Tour Worldwide mobile app?</h5>
                                    </div>
                                    <div class="acc-content">
                                        <div class="text">
                                            <p>No, the tour buses do not travel between cities. However, on board you will be able to book excursions to different places of interest in and around the city. Ask our onboard staff for more information.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="accordion block">
                                    <div class="acc-btn">
                                        <div class="icon-box"></div>
                                        <h5>Can I rent a sightseeing bus for a private service?</h5>
                                    </div>
                                    <div class="acc-content">
                                        <div class="text">
                                            <p>No, the tour buses do not travel between cities. However, on board you will be able to book excursions to different places of interest in and around the city. Ask our onboard staff for more information.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="accordion block">
                                    <div class="acc-btn">
                                        <div class="icon-box"></div>
                                        <h5>Are there discounts for groups?</h5>
                                    </div>
                                    <div class="acc-content">
                                        <div class="text">
                                            <p>No, the tour buses do not travel between cities. However, on board you will be able to book excursions to different places of interest in and around the city. Ask our onboard staff for more information.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 accordion-column">
                            <ul class="accordion-box">
                                <li class="accordion block active-block">
                                    <div class="acc-btn active">
                                        <div class="icon-box"></div>
                                        <h5>Do I have to buy a ticket for each route?</h5>
                                    </div>
                                    <div class="acc-content current">
                                        <div class="text">
                                            <p>No, the tour buses do not travel between cities. However, on board you will be able to book excursions to different places of interest in and around the city. Ask our onboard staff for more information.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="accordion block">
                                    <div class="acc-btn">
                                        <div class="icon-box"></div>
                                        <h5>Do City Tour Worldwide buses travel between cities?</h5>
                                    </div>
                                    <div class="acc-content">
                                        <div class="text">
                                            <p>No, the tour buses do not travel between cities. However, on board you will be able to book excursions to different places of interest in and around the city. Ask our onboard staff for more information.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="accordion block">
                                    <div class="acc-btn">
                                        <div class="icon-box"></div>
                                        <h5>Can I buy my ticket in advance?</h5>
                                    </div>
                                    <div class="acc-content">
                                        <div class="text">
                                            <p>No, the tour buses do not travel between cities. However, on board you will be able to book excursions to different places of interest in and around the city. Ask our onboard staff for more information.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="accordion block">
                                    <div class="acc-btn">
                                        <div class="icon-box"></div>
                                        <h5>Do the vehicles have an audio guide?</h5>
                                    </div>
                                    <div class="acc-content">
                                        <div class="text">
                                            <p>No, the tour buses do not travel between cities. However, on board you will be able to book excursions to different places of interest in and around the city. Ask our onboard staff for more information.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="accordion block">
                                    <div class="acc-btn">
                                        <div class="icon-box"></div>
                                        <h5>Can I reserve for someone else?</h5>
                                    </div>
                                    <div class="acc-content">
                                        <div class="text">
                                            <p>No, the tour buses do not travel between cities. However, on board you will be able to book excursions to different places of interest in and around the city. Ask our onboard staff for more information.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- faq-section end -->


{% endblock %}