{% extends "index.html" %}


{% block content %}

        <!-- page-title -->
        <section class="page-title centred">
            <div class="bg-layer" style="background-image: url(../assets/images/background/page-title-5.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">
                    <span>Testimonials</span>
                    <h1>Testimonials</h1>
                </div>
            </div>
        </section>
        <!-- page-title end -->


        <!-- testimonial-section -->
        <section class="testimonial-section testimonial-page-one pt_120 pb_110">
            <div class="auto-container">
                <div class="sec-title centred mb_50">
                    <span class="sub-title">Testimonials</span>
                    <h2>Love from our Clients</h2>
                </div>
                <div class="two-item-carousel owl-carousel owl-theme dots-style-one nav-style-one">
                    <div class="testimonial-block-one">
                        <div class="inner-box">
                            <ul class="rating">
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                            </ul>
                            <div class="author-box">
                                <figure class="author-thumb"><img src="../assets/images/resource/testimonial-1.png" alt=""></figure>
                                <h3>Jonathan Blue</h3>
                                <span class="designation">Manager</span>
                            </div>
                            <p>“Fames gravid nulam lectus vivera placert utricies. Lorem ipsum dolor sit ametional consectetur. Vel est ac sit amet tincidunt vel turpis penabus. Fusce eleifend suscipit Vel est ac sit amet ”</p>
                        </div>
                    </div>
                    <div class="testimonial-block-one">
                        <div class="inner-box">
                            <ul class="rating">
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                            </ul>
                            <div class="author-box">
                                <figure class="author-thumb"><img src="../assets/images/resource/testimonial-2.png" alt=""></figure>
                                <h3>Adam Gilchrist </h3>
                                <span class="designation">Manager</span>
                            </div>
                            <p>“Fames gravid nulam lectus vivera placert utricies. Lorem ipsum dolor sit ametional consectetur. Vel est ac sit amet tincidunt vel turpis penabus. Fusce eleifend suscipit Vel est ac sit amet ”</p>
                        </div>
                    </div>
                    <div class="testimonial-block-one">
                        <div class="inner-box">
                            <ul class="rating">
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                            </ul>
                            <div class="author-box">
                                <figure class="author-thumb"><img src="../assets/images/resource/testimonial-1.png" alt=""></figure>
                                <h3>Jonathan Blue</h3>
                                <span class="designation">Manager</span>
                            </div>
                            <p>“Fames gravid nulam lectus vivera placert utricies. Lorem ipsum dolor sit ametional consectetur. Vel est ac sit amet tincidunt vel turpis penabus. Fusce eleifend suscipit Vel est ac sit amet ”</p>
                        </div>
                    </div>
                    <div class="testimonial-block-one">
                        <div class="inner-box">
                            <ul class="rating">
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                            </ul>
                            <div class="author-box">
                                <figure class="author-thumb"><img src="../assets/images/resource/testimonial-2.png" alt=""></figure>
                                <h3>Adam Gilchrist </h3>
                                <span class="designation">Manager</span>
                            </div>
                            <p>“Fames gravid nulam lectus vivera placert utricies. Lorem ipsum dolor sit ametional consectetur. Vel est ac sit amet tincidunt vel turpis penabus. Fusce eleifend suscipit Vel est ac sit amet ”</p>
                        </div>
                    </div>
                    <div class="testimonial-block-one">
                        <div class="inner-box">
                            <ul class="rating">
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                            </ul>
                            <div class="author-box">
                                <figure class="author-thumb"><img src="../assets/images/resource/testimonial-1.png" alt=""></figure>
                                <h3>Jonathan Blue</h3>
                                <span class="designation">Manager</span>
                            </div>
                            <p>“Fames gravid nulam lectus vivera placert utricies. Lorem ipsum dolor sit ametional consectetur. Vel est ac sit amet tincidunt vel turpis penabus. Fusce eleifend suscipit Vel est ac sit amet ”</p>
                        </div>
                    </div>
                    <div class="testimonial-block-one">
                        <div class="inner-box">
                            <ul class="rating">
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                            </ul>
                            <div class="author-box">
                                <figure class="author-thumb"><img src="../assets/images/resource/testimonial-2.png" alt=""></figure>
                                <h3>Adam Gilchrist </h3>
                                <span class="designation">Manager</span>
                            </div>
                            <p>“Fames gravid nulam lectus vivera placert utricies. Lorem ipsum dolor sit ametional consectetur. Vel est ac sit amet tincidunt vel turpis penabus. Fusce eleifend suscipit Vel est ac sit amet ”</p>
                        </div>
                    </div>
                    <div class="testimonial-block-one">
                        <div class="inner-box">
                            <ul class="rating">
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                            </ul>
                            <div class="author-box">
                                <figure class="author-thumb"><img src="../assets/images/resource/testimonial-1.png" alt=""></figure>
                                <h3>Jonathan Blue</h3>
                                <span class="designation">Manager</span>
                            </div>
                            <p>“Fames gravid nulam lectus vivera placert utricies. Lorem ipsum dolor sit ametional consectetur. Vel est ac sit amet tincidunt vel turpis penabus. Fusce eleifend suscipit Vel est ac sit amet ”</p>
                        </div>
                    </div>
                    <div class="testimonial-block-one">
                        <div class="inner-box">
                            <ul class="rating">
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                                <li><img src="../assets/images/icons/icon-1.png" alt=""></li>
                            </ul>
                            <div class="author-box">
                                <figure class="author-thumb"><img src="../assets/images/resource/testimonial-2.png" alt=""></figure>
                                <h3>Adam Gilchrist </h3>
                                <span class="designation">Manager</span>
                            </div>
                            <p>“Fames gravid nulam lectus vivera placert utricies. Lorem ipsum dolor sit ametional consectetur. Vel est ac sit amet tincidunt vel turpis penabus. Fusce eleifend suscipit Vel est ac sit amet ”</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- testimonial-section end -->



{% endblock %}